<div id = 'skrollr-body'>
	<div class = 'container'>

		<!-- INTRODUCTION -->
		<div class = 'scene introduction center_vertical center_text' data-0="opacity:1;top:40%;" data-2000="opacity:0; top:45%;">
			<h1> Team Deimos </h1>	
		</div>
		<div class = 'scene introduction2 center_vertical center_text' data-0="visibility: hidden; opacity: 0" data-1700="visibility:visible; opacity:0; top:35%;" data-2000="visibility: visible; opacity:1; top:40%;" data-2800="opacity:1; top:45%;" data-4000="opacity:0; top:50%;">
			<h2> Introducing the world's </h2>
			<h2> First Smart Personal Defense Apparatus</h2>
		</div>

		<!-- UP AND DOWN NAVIGATION SCROLL BUTTON -->
	
		<div class = 'downNavigation'>

			<!-- Down from Intro1 to Intro2-->
			<div class = 'scene scroll_down center_text center_vertical' data-0="visibility: visible; opacity:1; top:85%;" data-1500="opacity:0.7; top: 85%; visibility: visible" data-2000="opacity:0; top: 85%; visibility: hidden;" onclick="ds.scrollTo_Element('Intro2')">
				<span class = 'glyphicon glyphicon-chevron-down'></span>
			</div>
			
			<!-- Down from Intro2 to Device-->
			<div class = 'scene scroll_down center_text center_vertical' data-0="visibility: hidden; opacity: 0;" data-1500="opacity:0; visibility: visible; top: 85%;" data-2000="opacity:1; top:85%;" data-3500="opacity:0.7; top: 85%;" data-4000="opacity:0; top: 85%; visibility: hidden;" onclick="ds.scrollTo_Element('Device')">
				<span class = 'glyphicon glyphicon-chevron-down' data-0="color:rgb(0,0,0);" data-3000="color:rgb(0,0,0);" data-4000="color:rgb(255,255,255);"></span>
			</div>

			<!-- Down from Device to App -->
			<div class = 'scene scroll_down center_text center_vertical' data-0="visibility:hidden; opacity: 0;" data-3500="opacity:0; top:85%; visibility: visible;" data-4000="opacity:1; top:85%; visibiity: visible;" data-5000="opacity:0.7; top:85%;" data-6000="opacity:0; top: 85%; visibility: hidden;" onclick="ds.scrollTo_Element('App');">
				<span class = 'glyphicon glyphicon-chevron-down' data-3000="color:rgb(0,0,0);" data-4000="color:rgb(255,255,255);"></span>
			</div>

			<!-- Down from App to Support -->
			<div class = 'scene scroll_down center_text center_vertical' data-0="visibility:hidden; opacity: 0;" data-5500="opacity:0; top:85%; visibility: visible;" data-6000="opacity:1; top:85%; visibility: visible;" data-7000="opacity:0.7; top:85%;" data-8000="opacity:0; top:85%; visibility: hidden;" onclick="ds.scrollTo_Element('Support');">
				<span class = 'glyphicon glyphicon-chevron-down' data-5000="color:rgb(255,255,255);" data-6000="color:rgb(255,255,255)"></span>
			</div>

			<!-- Down from Support to PreOrder -->
			<div class = 'scene scroll_down center_text center_vertical' data-0="visibility:hidden;opacity:0;" data-7500="opacity:0; top:85%; visibility: visible;" data-8000="opacity:1; top:85%; visibility: visible;" data-9000="opacity: 0.7; top:85%;" data-10000="opacity: 0; visibility: hidden;" onclick="ds.scrollTo_Element('Preorder');">
				<span class = 'glyphicon glyphicon-chevron-down'></span>
			</div>
		</div>

		<div class = 'upNavigation'>

			<!-- Up from Intro2 to Intro1-->
			<div class = 'scene scroll_up center_text center_vertical' data-0="visibility: hidden; opacity: 0;" data-1500="opacity:0; visibility: visible; top: 15%;" data-2000="opacity:1; top:15%;" data-3500="opacity:0.7; top:15%;" data-4000="opacity:0; top:15%; visibility: hidden;" onclick="ds.scrollTo_Element('Intro1')">
					<span class = 'glyphicon glyphicon-chevron-up' data-0="color:rgb(0,0,0)" data-3000="color:rgb(0,0,0);" data-4000="color:rgb(255,255,255);"></span>
			</div>
			
			<!-- Up from Device to Intro 2-->
			<div class = 'scene scroll_up center_text center_vertical' data-0="visibility:hidden;"data-3500="opacity:0; top:15%;visibility: visible;" data-4000="opacity:1; top:15%; visibility: visible;" data-5000="opacity:0.7; top:15%;" data-6000="visibility: hidden;" onclick="ds.scrollTo_Element('Intro2')">
				<span class = 'glyphicon glyphicon-chevron-up' data-3000="color:rgb(0,0,0)" data-4000="color:rgb(255,255,255)"></span>
			</div>

			<!-- Up from App to Device -->
			<div class = 'scene scroll_up center_text center_vertical' data-0="visibility: hidden; opacity:0;" data-5500="opacity:0; top:15%; visibility: visible;" data-6000="opacity:1; top:15%; visibility: visible;" data-7000="opacity:0.7; top:15%; visibility: visible;" data-7999="visibility:hidden;"onclick="ds.scrollTo_Element('Device')">
				<span class = 'glyphicon glyphicon-chevron-up' data-5000="color:rgb(255,255,255);" data-6000="color:rgb(255,255,255)"></span> 
			</div>
		
			<!-- Up from Support to App-->
			<div class = 'scene scroll_up center_text center_vertical' data-0="visibility: hidden; opacity: 0;" data-7500="opacity:0; top:15%; visibility: visible;" data-8000="opacity:1; top:15%; visibility: visible;" data-9000="opacity:0.7; top:15%; visibility: visible;" data-10000-"visibility: hidden;" onclick="ds.scrollTo_Element('App')">
				<span class = 'glyphicon glyphicon-chevron-up'></span>
			</div>

			<!-- Up from Preorder to Support -->
			<div class = 'scene scroll_up center_text center_vertical' data-0="visibility: hidden; opacity: 0;" data-9500="opacity:0; top:15%; visibility: visible;" data-10000="opacity: 1; top:15%; visibility: visible;" onclick="ds.scrollTo_Element('Support')">
				<span class = 'glyphicon glyphicon-chevron-up'></span>
			</div>
		</div>
		
		<!-- SOCIAL NETWORKS FOLLOW AND SHARE -->
		<div class = 'scene socialNetworks' data-0="top: 40%; right: 5px;" data-10000="top:40%; right:5px;" style="width:50px;">
			<a href="https://twitter.com/intent/follow?&screen_name=TeamDeimos"><img src="/images/twitter_logo.png" alt = ''/></a>
			<br>
			<a href="http://www.facebook.com/share.php?u=deimosweb.herokuapp.com" onclick="return fb_like()" target="_blank"><img src="/images/facebook_logo.png" alt = ''/></a>
			<a href=""><img src="/images/pinterest_logo.png"/></a>
		</div>
		
		<!-- PRODUCT DISPLAY-->
		<div class = 'scene productDisplay center_vertical' data-0="visibility: hidden;" data-2500="visibility:visible; top:99%;"data-4000="visibility: visible; top: 40%;" data-5000="visibility:visible; opacity: 0.7;" data-5900="opacity: 0; visibility: hidden;">
			<img src = '/images/front_display.png' alt = ""/>
		</div>

		<div class = 'scene productName center_text center_vertical' data-0="visibility: hidden; opacity:0;" data-2500="visibility:visible; opacity: 0; top: 40%;" data-4000="visibility=visible; opacity: 1; top: 40%" data-5000="visibility: visible; opacity:0.7;" data-5900="visibility: hidden;">
			<h1>I R I S</h1>
		</div>	

		<!-- Support Page -->
		<div class = 'scene support_title center_text center_vertical' data-0="visibility: hidden; opacity:0;" data-7500="visibility:visible; opacity:0; top:20%;" data-8000="visibility=visible; opacity:1; top:20%;" data-9000="visibility: visible; opacity: 0.7;" data-9500="visibility:hidden;">
			<h1>Support </h1>
		</div>

		<!-- Preorder Page-->
		<div class = 'scene preorder_title center_text center_vertical' data-0="visibility: hidden; opacity: 0;" data-9000="visibility:visible; opacity:0; top:20%;" data-10000="visibility: visible; opacity: 1; top:20%;">
			<h1>Preorder</h1>
		</div>
	</div>
</div>