/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require bootstrap
 */

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

body {
	margin-top:60px;
}


/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
    height: auto !important;
	height: 100%;
	position: fixed;
	width: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

/* Skrollr CSS Properties */

.scene {
	overflow: hidden;
	position: absolute;
}

.center_text {
	text-align: center;
}

.center_vertical {
	left: 0;
	right: 0;
}

.introduction {
	top: 40%;
}

.introduction2 {
	top: 40%;
	opacity: 0;
	visibility: hidden;
}

.productName {
	color: white;
}

/* Scroll Navigation Properties */
.scroll_up {
	cursor: pointer;
}

.scroll_down {
	cursor: pointer;
}

.scroll_up_background {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	opacity: 0.9;
	background: #eee;
}

/* OVERRIDE BOOTSTRAP PROPERTIES */

/* Navbar a tags font change */
.navbar-inner .navbar-collapse .nav_anchor {
	text-shadow: none;
	font-weight: bold;
	color: black;
}

.navbar-default .navbar-inner .navbar-header .navbar-brand {
	color: black;
}


@font-face {
	font-family: 'Glyphicons Halflings';
	/*
	src: url('/fonts/glyphicons-halflings-regular.eot');
	src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
	*/
} 
